# CalicoDB style differences from LLVM coding standards:
#     (1) snake_case variable, function, and method names
#

BasedOnStyle: LLVM
BreakBeforeBraces: Linux
ColumnLimit: 0
SpaceBeforeCpp11BracedList: true
IndentWidth: 4
AccessModifierOffset: -4