# CalicoDB style differences from LLVM coding standard:
#     (1) "snake_case" variable and function/method names
#     (2) "kCamelCase" constant and enumerator names
#     (3) "MACRO_CASE" macro names

BasedOnStyle: LLVM

AccessModifierOffset: -4
BreakBeforeBraces: Linux
ColumnLimit: 0
IndentCaseLabels: true
IndentWidth: 4
AllowShortLoopsOnASingleLine: true