# OSX
.DS_Store

# CMake (https://github.com/github/gitignore/blob/main/CMake.gitignore)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*_include.cmake
*_tests.cmake

.idea
cmake-build-*
build
test/fuzz/corpus
